{% extends 'base.html' %}
{% load static %}
{% load mark_tags %}

{% block title %}{{ TITLE }}{% endblock title %}

{% block content %}
<div class="row justify-content-md-center">
    <div class="col-sm-8" id="search-form">
        <form action="{% url 'job-list-page' %}" method="get">
            <div class="input-group mb-3">
                <input id="search" type="text" name="name" value="" class="form-control" placeholder="Например: стажер" aria-label="Recipient's username" aria-describedby="basic-addon2">
                <div class="input-group-append">
                    <button class="color1 btn btn-primary" type="submit"><i class="fas fa-search"></i></button>
                </div>
            </div>
        </form>
    </div>
</div>
<div class="row">
    <div class="col-sm-12">
        <div class="row justify-content-md-center">
            <div class="col-sm-12">
                <h5 class="text-muted text-center">Свежие вакансии</h5>
            </div>
        </div>
        <div class="row">
            {% for i in object_list %}
                <div class="col-3">
                    <p>
                        <a href="{% url 'job-detail-page' slug=i.slug %}">{{ i.name }}</a>
                    </p>
                    <p><i class="job-item-icon text-muted fas fa-building"></i>{{ i.employer }}</p>
                </div>
            {% endfor %}
        </div>
    </div>
</div>
{% endblock content %}

{% block css %}
    {{ block.super }}
    <style media="screen">
        #search-form {
            padding-top:32px;
        }
    </style>
{% endblock css %}
