{% extends 'base.html' %}
{% load static %}
{% load mark_tags %}

{% block title %}{{ TITLE }} - Job list{% endblock title %}

{% block content %}
    <div class="row">
        <div class="filter-block text-center col-sm-3">
            <p>Filter here</p>
        </div>
        <div class="job-list-block col-sm-9">
            {% for item in object_list %}
                <div class="job-item">
                    <a href="{% url 'job-detail-page' slug=item.slug %}">
                        <h3>{{ item.name }}</h3>
                    </a>
                    <p>
                        <i class="job-item-icon text-muted fas fa-rocket"></i><strong class="text-muted">{{ item.employer }}</strong>
                        {% if item.employer.trusted %}<i class="job-item-icon fas fa-check" style="padding-left: 4px; color: green; font-style: light;" data-toggle="tooltip" data-placement="right" title="Проверенный работодатель"></i>{% endif %}
                    </p>
                    <p><i class="job-item-icon text-muted fas fa-map-marker-alt"></i>{{ item.city }}</p>
                    <p>{{ item.description|mark2|safe|truncatewords_html:16 }}</p>
                    <p><i class="job-item-icon text-muted fas fa-calendar"></i>{{ item.created_at|date:"d-M-Y" }}</p>
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock content %}
