{% extends 'base.html' %}
{% load static %}
{% load mark_tags %}

{% block title %}{{ TITLE }} - Job list{% endblock title %}

{% block content %}
    <div class="job-list-block row justify-content-md-center">
        <div class="col-9">
            {% for item in object_list %}
                <div class="job-item">
                    <div class="col-12">
                        <div class="row">
                            <div class="col-10">
                                <a class="job-item-title" href="{% url 'job-detail-page' slug=item.slug %}">{{ item.name }}</a>
                                {% if item.employer.is_trust %}<i class="job-item-icon fas fa-chevron-down" style="padding-left: 4px; color: green;" data-toggle="tooltip" data-placement="bottom" title="Проверенный работодатель"></i>{% endif %}
                                {% if item.is_hot %}<i class="job-item-icon fas fa-fire-alt" style="padding-left: 4px; color: red;" data-toggle="tooltip" data-placement="bottom" title="Горячая вакансия"></i>{% endif %}
                            </div>
                            <div class="col-2 text-right">
                                {% if item.salary %}
                                    <i class="job-item-icon fas fa-cookie-bite"></i>{{ item.salary }}$
                                {% endif %}
                                {% if show_job_type %}<i class="job-item-icon fas {{ item.job_type_icon }}"></i>{% endif %}
                            </div>
                        </div>
                    </div>
                    <div class="col-12">
                        <i class="job-item-icon color2 fas fa-building"></i><strong class="color2">{{ item.employer }}</strong>
                    </div>
                    <div class="text-muted col-12">
                        {{ item.description|mark2|safe|truncatewords_html:40 }}
                    </div>
                    <div class="col-12">
                        <div class="row">
                            <div class="col-4">
                                <i class="job-item-icon fas fa-map-marker-alt"></i>{{ item.city }}
                            </div>
                            <div class="col-6">
                                <i class="job-item-icon fas fa-calendar"></i><span class="job-item-date">{{ item.created_at|date:"d-m-Y" }}</span>
                            </div>
                        </div>
                        <div class="job-item-border"></div>
                    </div>
                </div>

            {% endfor %}
        </div>
    </div>
{% endblock content %}
